<!-- Add this section to display research projects with links -->
{{- if .Params.research_projects }}
<div class="row">
  <div class="col-md-12">
    <h3>{{ i18n "research_projects" | default "Research Projects" }}</h3>
    <div class="row">
      {{- range .Params.research_projects }}
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">
              {{- if .url }}
              <a href="{{ .url | relURL }}">{{ .name }}</a>
              {{- else }}
              {{ .name }}
              {{- end }}
            </h5>
            {{- if .description }}
            <p class="card-text">{{ .description }}</p>
            {{- end }}
          </div>
        </div>
      </div>
      {{- end }}
    </div>
  </div>
</div>
{{- end }}